# Local
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Production (Vercel @ www.elloot.com.br)
# NEXT_PUBLIC_API_URL=https://www.api.elloot.com.br
# NEXT_PUBLIC_SITE_URL=https://www.elloot.com.br
